<ion-view title="Add/Edit Budget" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="addEditBudget-form9" class="list">
      <label class="item item-input" id="addEditBudget-input16">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Wardrobe">
      </label>
      <label class="item item-input" id="addEditBudget-input17">
        <span class="input-label">Total Budget</span>
        <input type="text" placeholder="$100">
      </label>
    </form>
    <a ui-sref="tabsController.budgetBreakdown()" id="addEditBudget-button20" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>