<ion-view title="Add Transaction" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="addTransaction-form6" class="list">
      <label class="item item-input" id="addTransaction-input8">
        <span class="input-label">Item Name</span>
        <input type="text" placeholder="Wedding dress">
      </label>
      <label class="item item-select" id="addTransaction-select2">
        <span class="input-label">Category</span>
        <select>
          <option>Wardrobe</option>
          <option>Decorations</option>
          <option>Invites</option>
          <option>Venue</option>
          <option>Catering</option>
        </select>
      </label>
      <div class="spacer" style="height: 15px;"></div>
      <ion-toggle toggle-class="toggle-positive" id="addTransaction-toggle3">Calculate per item</ion-toggle>
      <label class="item item-input" id="addTransaction-input9">
        <span class="input-label">Cost per item</span>
        <input type="text" placeholder="$10">
      </label>
      <label class="item item-input" id="addTransaction-input10">
        <span class="input-label"># of items</span>
        <input type="text" placeholder="10">
      </label>
      <div class="spacer" style="height: 15px;"></div>
      <label class="item item-input" id="addTransaction-input11">
        <span class="input-label">Total Spent</span>
        <input type="text" placeholder="$100">
      </label>
      <div class="spacer" style="height: 15px;"></div>
      <label class="item item-input" id="addTransaction-input13">
        <span class="input-label">Amount Paid</span>
        <input type="text" placeholder="$40">
      </label>
      <label class="item item-input" id="addTransaction-input12">
        <span class="input-label">Amount Due</span>
        <input type="text" placeholder="$60">
      </label>
      <div class="spacer" style="height: 15px;"></div>
      <a ui-sref="tabsController.budgetOverview()" id="addTransaction-button16" class="button button-positive button-block">Save</a>
    </form>
  </ion-content>
</ion-view>