<ion-view title="Budget Breakdown" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="budgetBreakdown-button-bar4" class="button-bar">
      <a ui-sref="tabsController.budgetOverview()" id="budgetBreakdown-button17" class="button button-positive button-block button-outline">Overview</a>
      <a ui-sref="tabsController.budgetBreakdown()" id="budgetBreakdown-button18" class="button button-positive button-block">Breakdown</a>
    </div>
    <ion-list id="budgetBreakdown-list6">
      <ion-item class="item-icon-right" id="budgetBreakdown-list-item35">Wardrobe
        <span class="item-note">$300 left</span>
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
      <ion-item id="budgetBreakdown-list-item38">[bar graph of remaining budget]</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-list id="budgetBreakdown-list7">
      <ion-item class="item-icon-right" id="budgetBreakdown-list-item39">Food
        <span class="item-note">$600 left</span>
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
      <ion-item id="budgetBreakdown-list-item40">[bar graph of remaining budget]</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-list id="budgetBreakdown-list8">
      <ion-item class="item-icon-right" id="budgetBreakdown-list-item41">Flowers
        <span class="item-note">$700 left</span>
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
      <ion-item id="budgetBreakdown-list-item42">[bar graph of remaining budget]</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-list id="budgetBreakdown-list13">
      <ion-item class="item-icon-right" id="budgetBreakdown-list-item53">Invites
        <span class="item-note">$50 left</span>
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
      <ion-item id="budgetBreakdown-list-item54">[bar graph of remaining budget]</ion-item>
    </ion-list>
    <a ui-sref="tabsController.addEditBudget()" id="budgetBreakdown-button19" class="button button-positive button-block">Add Budget Category</a>
  </ion-content>
</ion-view>