<ion-view title="Budget Breakdown" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="budgetBreakdown-button-bar4" class="button-bar">
      <a ui-sref="tabsController.budgetOverview()" id="budgetBreakdown-button17" class="button button-positive button-block button-outline">Overview</a>
      <a ui-sref="tabsController.budgetBreakdown()" id="budgetBreakdown-button18" class="button button-positive button-block">Breakdown</a>
    </div>
    <a ui-sref="tabsController.addBudgetCategory()" id="budgetBreakdown-button19" class="button button-balanced button-block icon-left ion-android-add">Add Budget Category</a>
    <ion-list id="budgetBreakdown-list6">
      <ion-item class="item-icon-right" id="budgetBreakdown-list-item35">Wardrobe
        <span class="item-note">$300 left</span>
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
      <!-- <ion-item id="budgetBreakdown-list-item38">[bar graph of remaining budget]</ion-item> -->
      <div style="border: 0px solid #aeaeae; background-color: #eaeaea; width: 100%; height: 30px;">
        <div style="position: relative; bottom: 0; width: 70%; height: 30px; background-color: #86CE50;"></div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-list id="budgetBreakdown-list7">
      <ion-item class="item-icon-right" id="budgetBreakdown-list-item39">Food
        <span class="item-note">$600 left</span>
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
      <!-- <ion-item id="budgetBreakdown-list-item40">[bar graph of remaining budget]</ion-item> -->
      <div style="border: 0px solid #aeaeae; background-color: #eaeaea; width: 100%; height: 30px;">
        <div style="position: relative; bottom: 0; width: 50%; height: 30px; background-color: #86CE50;"></div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-list id="budgetBreakdown-list8">
      <ion-item class="item-icon-right" id="budgetBreakdown-list-item41">Invites
        <span class="item-note">$700 left</span>
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
      <!-- <ion-item id="budgetBreakdown-list-item42">[bar graph of remaining budget]</ion-item> -->
      <div style="border: 0px solid #aeaeae; background-color: #eaeaea; width: 100%; height: 30px;">
        <div style="position: relative; bottom: 0; width: 30%; height: 30px; background-color: #86CE50;"></div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-list id="budgetBreakdown-list13">
      <ion-item class="item-icon-right" id="budgetBreakdown-list-item53">Flowers
        <span class="item-note">$50 left</span>
        <i class="icon ion-edit icon-accessory"></i>
      </ion-item>
      <!-- <ion-item id="budgetBreakdown-list-item54">[bar graph of remaining budget]</ion-item> -->
      <div style="border: 0px solid #aeaeae; background-color: #eaeaea; width: 100%; height: 30px;">
        <div style="position: relative; bottom: 0; width: 90%; height: 30px; background-color: #DB564B;"></div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>