<ion-view title="Explore" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="explore-button-bar1" class="button-bar">
      <button id="explore-button4" class="button button-positive button-block">Explore</button>
      <a ui-sref="tabsController.saved()" id="explore-button5" class="button button-stable button-block">Saved</a>
    </div>
    <ion-list id="explore-list1">
      <label class="item item-input" id="explore-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search by Address or Category">
      </label>
    </ion-list>
    <div>
      <img src="img/exist-doing-likewise-foremost-position-grab-finally-best-over-limited-quickly-wish-googlo-maps-of-googlo-maps.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="explore-list9">
      <ion-item class="item-thumbnail-left item-icon-right" id="explore-list-item43" ui-sref="tabsController.vendorADetails()">
        <h2>Vendor A</h2>
        <p>Address AAA ($$$)</p>
        <i class="icon ion-ios-heart-outline"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="explore-list-item44" ui-sref="tabsController.vendorBDetails()">
        <h2>Vendor B</h2>
        <p>Address BBB ($)</p>
        <i class="icon ion-ios-heart-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>