<ion-view title="New Checklist Item" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="newChecklistItem-form4" class="list">
      <label class="item item-input" id="newChecklistItem-input4">
        <input type="text" placeholder="Task">
      </label>
      <label class="item item-select" id="newChecklistItem-select1">
        <span class="input-label">Category</span>
        <select>
          <option>Wardrobe</option>
          <option>Decorations</option>
          <option>Invites</option>
          <option>Venue</option>
          <option>Catering</option>
        </select>
      </label>
      <label class="item item-input" id="newChecklistItem-input5">
        <span class="input-label">Due:</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="newChecklistItem-textarea1">
        <span class="input-label">Notes</span><textarea placeholder=""></textarea></label>
    </form>
    <a ui-sref="tabsController.checklist()" id="newChecklistItem-button21" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>