<ion-view title="Saved" id="page11">
  <ion-content padding="true" class="has-header">
    <div id="saved-button-bar5" class="button-bar">
      <a ui-sref="tabsController.explore()" id="saved-button22" class="button button-positive button-block button-outline">Explore</a>
      <a ui-sref="tabsController.saved()" id="saved-button23" class="button button-positive button-block">Saved</a>
    </div>
    <form id="saved-form10" class="list">
      <label class="item item-select" id="saved-select3">
        <span class="input-label">Filter by Category</span>
        <select>
          <option>Wardrobe</option>
          <option>Decorations</option>
          <option>Invites</option>
          <option>Venue</option>
          <option>Catering</option>
        </select>
      </label>
    </form>
    <ion-list id="saved-list10">
      <ion-item class="item-thumbnail-left item-icon-right" id="saved-list-item46" ui-sref="tabsController.vendor1Details()">
        <img src="img/catering.jpg">
        <h2>Pittsburgh Premier Catering</h2>
        <p>4729 Ellsworth Ave, Pittsburgh, PA 15213</p>
        <i class="icon ion-ios-heart"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="saved-list-item47" ui-sref="tabsController.vendor2Details()">
        <img src="img/glitterandgrit.jpg">
        <h2>Glitter &amp; Grit</h2>
        <p>5300 Butler St Pittsburgh, PA 15201 ($$)</p>
        <i class="icon ion-ios-heart"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="saved-list-item48" ui-sref="tabsController.vendor3Details()">
        <img src="img/pointbreezeway.jpg">
        <h2>PointBreezeway</h2>
        <p>7113 Reynolds St Pittsburgh, PA 15208</p>
        <i class="icon ion-ios-heart"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>