<ion-header>
  <ion-navbar>
    <ion-title>
      Budget
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="budget">
      <ion-segment-button value="overview">
        Overview
      </ion-segment-button>
      <ion-segment-button value="breakdown">
        Breakdown
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">


  <div [ngSwitch]="budget">
    <ion-list *ngSwitchDefault>
      <button ion-button block [navPush]="AddTransactionPage">
        add Transaction
      </button>

      <ion-item>
        <ion-label color="primary">Left to spend</ion-label>
        <ion-input [(ngModel)]="leftToSpend" [disabled]=true placeholder="Text Input"></ion-input>
      </ion-item>


      <ion-list>
        <ion-item-sliding *ngFor="let task of transactions; let i=index">
          <ion-item nopadding>
            <h2>{{task.key}}</h2>
            <h3>${{task.value["amount"]}} {{task.value["category"]}}</h3>

          </ion-item>

          <ion-item-options side="right">
            <button ion-button color="secondary" [navPush]="AddTransactionPage" [navParams]="{'task': task.key}">
              <ion-icon name="create"></ion-icon>EDIT</button>

            <button ion-button color="danger" (click)="delete(task.key)">
              <ion-icon name="trash"></ion-icon>DELETE</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <div class="spacer" style="height: 15px;"></div>

      <div style="display: block">
        <canvas baseChart #baseChart="base-chart" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      <div class="spacer" style="width: 300px; height: 15px;"></div>

      <ion-item id="budgetOverview-list-item20">ad space</ion-item>

      <div class="spacer" style="width: 300px; height: 15px;"></div>
    </ion-list>

    <!-- Budget breakdown -->

    <ion-list *ngSwitchCase="'breakdown'">
      <button ion-button block [navPush]="AddBudgetPage">
        add budget
      </button>

      <ion-list id="budgetBreakdown-list6" *ngFor="let category of labels()">

        <ion-item nopadding>
          <span class="item-note">{{category}} with {{donutData[category]}}</span>
          <button ion-button small icon-only [clear]="true" [navPush]="AddBudgetPage" [navParams]="{'task': budget.key }">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-item>

        <!-- <ion-item id="budgetBreakdown-list-item38">[bar graph of remaining budget]</ion-item> -->
        <canvas baseChart [datasets]="barchart[category]['data']" [labels]="barchart[category]['labels']" [chartType]="barChartType"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>

        <div class="spacer" style="width: 300px; height: 15px;"></div>

      </ion-list>
    </ion-list>
  </div>

</ion-content>