<ion-view title="Checklist" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="checklist-form2" class="list">
      <div id="checklist-button-bar2" class="button-bar">
        <a ui-sref="tabsController.newItem()" id="checklist-button13" class="button button-positive button-block">Add item</a>
      </div>
      <ion-checkbox id="checklist-checkbox2">Order wedding dress - 1/15</ion-checkbox>
      <ion-checkbox id="checklist-checkbox3">Send out RSVPs - 1/29</ion-checkbox>
      <ion-checkbox id="checklist-checkbox1">Pick up flowers - 3/15</ion-checkbox>
      <ion-checkbox id="checklist-checkbox4">Pick up cake - 3/15</ion-checkbox>
    </form>
  </ion-content>
</ion-view>