<ion-view title="Saved" id="page11">
  <ion-content padding="true" class="has-header">
    <div id="saved-button-bar5" class="button-bar">
      <a ui-sref="tabsController.explore()" id="saved-button22" class="button button-positive button-block button-outline">Explore</a>
      <a ui-sref="tabsController.saved()" id="saved-button23" class="button button-positive button-block">Saved</a>
    </div>
    <form id="saved-form10" class="list">
      <label class="item item-select" id="saved-select3">
        <span class="input-label">Filter by Category</span>
        <select>
          <option>Wardrobe</option>
          <option>Decorations</option>
          <option>Invites</option>
          <option>Venue</option>
          <option>Catering</option>
        </select>
      </label>
    </form>
    <ion-list id="saved-list10">
      <ion-item class="item-thumbnail-left item-icon-right" id="saved-list-item46" ui-sref="tabsController.vendorDetails()">
        <h2>Saved Vendor 1</h2>
        <p>Address 111 ($$$)</p>
        <i class="icon ion-ios-heart"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="saved-list-item47">
        <h2>Saved Vendor 2</h2>
        <p>Address 222 ($$)</p>
        <i class="icon ion-ios-heart"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="saved-list-item48">
        <h2>Saved Vendor 3</h2>
        <p>Address 333 ($$)</p>
        <i class="icon ion-ios-heart"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>