page-explore {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .hide {
    display: block;
    position: absolute;
    visibility: hidden;
  }

  .icon-button {
    background-color: white;
  }
}
