<ion-header>
  <ion-navbar>
    <ion-title>
      Explore
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="vendors">
      <ion-segment-button value="explore">
        Explore
      </ion-segment-button>
      <ion-segment-button value="saved">
        Saved
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <div [ngSwitch]="vendors">
    <!-- <div>
      <img src="assets/imgs/exist-doing-likewise-foremost-position-grab-finally-best-over-limited-quickly-wish-googlo-maps-of-googlo-maps.png"
        style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div> -->
    <form action=".">
      <ion-searchbar [ngModelOptions]="{standalone:true}" placeholder="Search for something" [(ngModel)]="queryString" (search)="search()"></ion-searchbar>
    </form>
    <ion-list *ngSwitchDefault>
      <h1 class='centered' *ngIf="!searchedVendors">Search for a venue!</h1>
      <ion-card *ngFor="let vendor of (searchedVendors | async)">
        <img src="{{ vendor.photoUrl }}" (click)="vendorDetails($event,vendor)">
        <ion-card-content>
          <ion-card-title>{{vendor.venue.name}}</ion-card-title>
          <p>{{vendor.venue.location.address}} {{ vendor.venue.price ? "(" + "$".repeat(vendor.venue.price.tier) + ")" : ""
            }}
          </p>
          <ion-icon name="heart-outline" style="float: right;" (click)="saveOrRemoveVendor($event,vendor)"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'saved'">
      <form id="saved-form10" class="list">
        <label class="item item-select" id="saved-select3">
          <span class="input-label">Filter by Category</span>
          <select>
            <option>Wardrobe</option>
            <option>Decorations</option>
            <option>Invites</option>
            <option>Venue</option>
            <option>Catering</option>
          </select>
        </label>
      </form>
      <ion-card *ngFor="let vendor of (savedVendor)">
        <img src="{{ vendor.photoUrl }}" (click)="vendorDetails($event,vendor)">
        <ion-card-content>
          <ion-card-title>{{vendor.venue.name}}</ion-card-title>
          <p>{{vendor.venue.location.address}} {{ vendor.venue.price ? "(" + "$".repeat(vendor.venue.price.tier) + ")" : ""
            }}
          </p>
          <ion-icon name="heart-outline" style="float: right;" (click)="saveOrRemoveVendor($event,vendor)"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>


</ion-content>