page-explore {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  // https://github.com/ionic-team/ionic/issues/7644
  .no-scroll {
    .scroll-content {
      overflow: hidden;
    }
  }

  .clear-background {
    background: transparent;
  }

  .hide {
    display: block;
    position: absolute;
    visibility: hidden;
  }

  .icon-button {
    background-color: white;
  }

  .search-label {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 7px;
    padding-right: 0px;
  }
}
