<ion-header>
  <ion-navbar>
    <ion-title>
      Explore
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="vendors">
      <ion-segment-button value="explore">
        Explore
      </ion-segment-button>
      <ion-segment-button value="saved">
        Saved
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <div [ngSwitch]="vendors">
    <ion-list *ngSwitchDefault>
      <form action=".">
        <ion-searchbar [ngModelOptions]="{standalone:true}" placeholder="Search for something" [(ngModel)]="queryString" (search)="search()"
          (ionClear)="clearSearch()"></ion-searchbar>
      </form>
      <h1 class='centered' *ngIf="(searchedVendors | async)?.length==0">No venues</h1>
      <ion-card *ngFor="let vendor of (searchedVendors | async)">
        <img src="{{ vendor.photoUrl }}" (click)="vendorDetails($event,vendor)">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-10>
                <ion-card-title>{{vendor.venue.name}}</ion-card-title>
                <p>{{vendor.venue.location.address}} {{ vendor.venue.price ? "(" + "$".repeat(vendor.venue.price.tier) + ")"
                  : "" }}
                </p>
              </ion-col>
              <ion-col col-2>
                <div class="centered">
                  <ion-icon name="{{ isSaved(vendor) ? 'heart' : 'heart-outline'}}" (click)="saveOrRemoveVendor($event,vendor)" style="font-size:32px;"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'saved'">
      <ion-list>
        <ion-item>
          <ion-label>Filter</ion-label>
          <ion-select placeholder="Select a filter" [(ngModel)]="selectedFilter" (ionChange)="filterChanged()">
            <ion-option *ngFor="let filterOpt of vendorFilterOptions" value="{{filterOpt}}">{{ filterOpt }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-card *ngFor="let key of keys(savedVendors)">
        <img src="{{ savedVendors[key].photoUrl }}" (click)="vendorDetails($event,savedVendors[key])">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-10>
                <ion-card-title>{{savedVendors[key].venue.name}}</ion-card-title>
                <p>{{savedVendors[key].venue.location.address}} {{ savedVendors[key].venue.price ? "(" + "$".repeat(savedVendors[key].venue.price.tier)
                  + ")" : "" }}
                </p>
              </ion-col>
              <ion-col col-2>
                <div class="centered">
                  <ion-icon name="{{ isSaved(savedVendors[key]) ? 'heart' : 'heart-outline'}}" (click)="saveOrRemoveVendor($event,savedVendors[key])"
                    style="font-size:32px;"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>